@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    top: 0;
    position: relative;
    min-width: auto;
    background-color: #fffafa;
    z-index: 10;
    -webkit-box-shadow: 0px 5px 27px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 27px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 27px -5px rgba(0,0,0,0.75);
}
.navbar{
    justify-content: space-between;
    display: flex;
    margin: 0 12%;
    height: 70px;
    align-items: center;
    font-size: 26px;
}
.nav-itens ul{
    display: flex;
}
.nav-itens li{
    margin-left: 3vw;
}

.main-body{
    z-index: 0;
    background-color: #fff9f9;

    padding: 0 15%;
    gap: 2rem;
    height: 25rem;
    display: flex;
    align-items: center;
    text-align: justify;
}

.body-text{
    background-color: white;
    padding: 1.3rem;
    border-radius: 1.3rem;
}
.body-skills{
    background-color: #d0cccc;
    padding:40px;
}
.body-skills h2{
    text-align: center;
    padding: 20px auto;
    font-size: 2rem;
}
.container {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;

}

.card {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 18vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#666, #999);
    transition: all .5s;
}

.card:hover {
    background-image: linear-gradient(#ddd, #777);
}

.card .img {
    width: 18vw;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}


.card:hover .img {
    width: 430px;
    opacity: 1;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(40px);
}

.card:hover .content {
    height: 29vh;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transform: rotate(180deg);
    transition: all .2s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 25px;
}